.fixed-size-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px; /* Establece el ancho deseado para todas las imágenes */
  height: 500px; /* Establece la altura deseada para todas las imágenes */
}

img {
  max-width: 100%;
}

// img{
//   width: 200px; /* Establece el ancho deseado para todas las imágenes */
//   height: 300px; /* Establece la altura deseada para todas las imágenes */
//   object-fit: cover;
// }
